
			<script>
				window.PB_PUBLIC_VARIABLE =
				{
					
				}
				;
				window.PB_builder= {
					id:"537bea83aab5482a9c45972a7a67f7f8",
					type:"regular-page",
					env:"production",
				}
			</script>
			<div id="pb-root">
			<style>
				*{
					font-family: Open Sans;
				}
			</style>
			<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans:400,500,600,700"/>
			<div data-hk="0-0-0" class="pe-page " data-pe-id="page" style="background:#fff;display:flex;flex-direction:column;align-items:center;position:relative;width:100%;min-height:100%;--pb--bg-color:#fff;--pb--font-family:Open Sans;--pb--heading-color:#232933;--pb--description-color:#232933;--pb--button-color:#FFFFFF;--pb--button-background:#232933"><style>.pe_rich_text_h1,
.pe_rich_text_h2,
.pe_rich_text_h3,
.pe_rich_text_h4,
.pe_rich_text_p1,
.pe_rich_text_p2,
.pe_rich_text_p3,
.pe_rich_text_p4 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h1 {
  font-size: 48px;
  line-height: 56px;
}

.pe_rich_text_h2 {
  font-size: 28px;
  line-height: 36px;
}

.pe_rich_text_h3 {
  font-size: 24px;
  line-height: 32px;
}

.pe_rich_text_h4 {
  font-size: 20px;
  line-height: 28px;
}

.pe_rich_text_p1 {
  font-size: 16px;
  line-height: 28px;
}

.pe_rich_text_p2 {
  font-size: 14px;
  line-height: 24px;
}

.pe_rich_text_p3 {
  font-size: 12px;
  line-height: 20px;
}

.pe_rich_text_h1,
.pe_rich_text_h2,
.pe_rich_text_h3,
.pe_rich_text_h4 {
  color: var(--pb--heading-color);
}

.pe_rich_text_p1,
.pe_rich_text_p2,
.pe_rich_text_p3 {
  color: var(--pb--description-color);
}

.MOBILE-preview .pe_rich_text_h1 {
  font-size: 32px;
  line-height: 40px;
}

@media only screen and (max-width: 750px) {
  .pe_rich_text_h1 {
    font-size: 32px;
    line-height: 40px;
  }
}</style><style>
        .pe-page-content{
          max-width: 1248px
        }
      </style><!--#--><div data-hk="0-0-1-1-0-0" class="pb_power_by_wrapper" data-isshowineditor="false" data-isshowinproduct="false"><style>.pb_power_by_wrapper {
  width: 100%;
  position: relative;
  font-family: SF Pro Text, system-ui;
}

.pb_power_by_production {
  position: absolute;
  right: 0;
  top: 0;
}

.pb_power_by_container {
  display: flex;
  z-index: 9;
  padding: 8px 0;
  margin: 0 auto;
  justify-content: flex-end;
  transform: scale(0.9);
}
.pb_power_by_container .pb_wrapper {
  font-weight: 600;
  font-size: 8px;
  white-space: nowrap;
  line-height: 16px;
}
.pb_power_by_container .pb_link {
  padding: 4px 16px;
  background: rgba(0, 0, 0, 0.14);
  border-radius: 14px;
  text-decoration: none;
  color: #ffffff;
}
.pb_power_by_container .pb_link:hover {
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 749px) {
  .pb_power_by_container {
    justify-content: center;
  }
}
.MOBILE-preview .pb_power_by_container {
  justify-content: center;
}</style><!--#--><!--/--><!--#--><!--/--></div><style data-hk="0-0-1-2-0-3">
        @media only screen and (min-width: 1248px) {
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed img, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset img, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed img, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset img, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-2-0-4">
    .html_section455d31a2-703c-454c-aa93-222b73f8a82d, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-2-0-5"></style><div data-hk="0-0-1-2-0-6" class="html_section455d31a2-703c-454c-aa93-222b73f8a82d " data-pe-id="html_section455d31a2-703c-454c-aa93-222b73f8a82d" style="width:100%;min-height:50px;background-color:#ffffff;z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-2-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-2-0-7-1-0-0-1" data-pe-id="html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49"><div class="html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-0-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_9d43b7ff02a64d25a0edbfbec66c51fd.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Gyeon ceramic coating after care maintenance guide"><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-1-0-1" data-pe-id="html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041"><div class="html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-1-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_cecb007c3b614046bc96dca0631e1169.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="WARRANTY
MAINTENANCE
RULES
01 using harsh chemicals within the first
14 days from coating application.
DO NOT WASH YOUR CAR
like bird droppings, remain on any surface.
Remove safely as soon as possible.
DO NOT LET CONTAMINANTS,
caustic chemicals and any o"><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-2-0-1" data-pe-id="html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d"><div class="html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-2-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_28b3ee162a584254b515ca6150e3921a.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Gyeon mohs evo: what are the benefits of having a ceramic coating? it's not all about the looks! A well prepared and ceramic coated car looks amazing, as gyeon coatings are very glossy and enhance the intensity of the paint."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-3-0-1" data-pe-id="html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859"><div class="html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-3-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_485a968014c54a8698621d5494e6257f.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="How does it work and which coating is the best? Quartz, ceramic, glass, self-healing, titanium or graphene? They all refer to the same type of product, are terms to name a sio2 silicone dioxide-based protective coating, that prevents paint oxidation."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-4-0-1" data-pe-id="html_imagef8fa93fe-5139-465e-b538-0f578255052f"><div class="html_imagef8fa93fe-5139-465e-b538-0f578255052f" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-4-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_1dd09f22a0db417ea3d4d6d33d53805e.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Make sure your wheels and brakes are fully cooled down before starting any wash procedure. Pressure wash the wheel and wheel-arches first to remove a maximum of debris. Spray heavily Q2M Iron WheelCleaner on the entire wheel and let it sit for 3 to 4 min."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-5-0-1" data-pe-id="html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d"><div class="html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-5-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_a764685bca484f2c9397c8f1fb0a2727.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="PRE WASH Make sure your vehicle is fully cooled down before starting any wash procedure. We recommend the use of Q2M Bug&amp;Grime on all surfaces where bug splatter or heavy/oily road films can be found. If you have access to a foam lance, fill it with..."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-6-0-1" data-pe-id="html_image19199680-2bab-4609-bf88-fb67562d2d26"><div class="html_image19199680-2bab-4609-bf88-fb67562d2d26" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-6-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_0b90695ff7f04565bd841fa1cd630d0e.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="WASH &amp; DECONTA 03Use the 2 bucket method. Fill both buckets with 10L of water and pour 15ML of Q2M RestartWash in one of them. MINATION Start washing your vehicle from top to bottom in straight line motion. Use either the Q2M Smoothie or Q2M WashPad. "><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-7-0-1" data-pe-id="html_image48f466f4-704a-4ca7-acb6-755770bf70fb"><div class="html_image48f466f4-704a-4ca7-acb6-755770bf70fb" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-7-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_5fe6d6cfa5324d32b7e5a95949a470be.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="To boost hydrophobicity and gloss during your wash routine you can exchange Q2M Bathe with Q2M Bathe+, a SiO 2 based, hydrophobic shampoo. For even more performance, use Q2M WetCoat, our instant gloss &amp; hydrophobic booster. Spray 2-3 times per panel and.."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-8-0-1" data-pe-id="html_image3601e2f1-ef8c-4caf-85a0-6d6c39219d87"><div class="html_image3601e2f1-ef8c-4caf-85a0-6d6c39219d87" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-8-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_e2f4f4dd95b34ac18afe8697bc9127cf.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="DRYING Use a Q2M SilkDryer or Q2M WaffleDryer, dry your vehicle paintwork from top to bottom in a straight motion. Do not apply pressure while drying on your paintwork. Use separate dedicated drying towels for your paintwork, wheels &amp; lower parts to dry.."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-9-0-1" data-pe-id="html_image480eda7a-ff18-4e42-bbe6-9e8dc03e7faa"><div class="html_image480eda7a-ff18-4e42-bbe6-9e8dc03e7faa" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-9-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_74fb0b5207964d798ca15eb503d17592.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Will a coating always bead as day one? and what is the durability of a coating? Beading is a secondary feature of a coating. A coating might be even more self-cleaning being hydrophilic than hydrophobic. It will diminish with time with contamination."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-10-0-1" data-pe-id="html_imageb0f9bd06-d78d-41f4-a7de-cd93db27a658"><div class="html_imageb0f9bd06-d78d-41f4-a7de-cd93db27a658" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-10-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_b4ce1b3d9dfa47cf8aeb29502b123046.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Organic contamination and tar residue can be found on any type of vehicle due to their usage. To remove safely this type of contamination you can use Q2M Tar. Spray Q2M Tar liberally on a clean and damp vehicle. Use it locally on contaminated area.."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-11-0-1" data-pe-id="html_image8e84e71a-df80-4ada-bdaf-6745a1245197"><div class="html_image8e84e71a-df80-4ada-bdaf-6745a1245197" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-11-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_c359d2dcb5044e128d254756a8d91c54.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Q2M Iron is the safest and most effective way to remove ferrous deposits from your car. Spray all over the vehicle, let it react for 3 to 5 minutes but don’t let it dry. Rinse heavily &amp; inspect. Re-apply if needed. If you still notice rusty particles on.."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-12-0-1" data-pe-id="html_imagef2241c07-e118-400e-86a3-9507f7b5b0c9"><div class="html_imagef2241c07-e118-400e-86a3-9507f7b5b0c9" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-12-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_3fe3724c40db43e49c00e8cfb7c6fd49.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="If your vehicle suffers from contamination that cannot be removed by your wash routine or after chemical decontamination (with Q2M Tar &amp; Q2M Iron) we advise you to contact your GYEON Certified Detailer to inspect your vehicle and propose you an adequate.."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-13-0-1" data-pe-id="html_image8d475fee-e6de-43b0-82aa-c83463378854"><div class="html_image8d475fee-e6de-43b0-82aa-c83463378854" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-13-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_2397a105aeee428299a74432b10c1682.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Hydrophobic properties will diminish with time due to potential contamination of the coating itself. To restore them, chemical decontamination will potentially be the most effective action. We recommend to use Q2M RestartWash, Q2M Iron and Q2M Tar for..."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-14-0-1" data-pe-id="html_imagef11f3202-079d-47d9-9882-4464705dd0b4"><div class="html_imagef11f3202-079d-47d9-9882-4464705dd0b4" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-14-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_23c0ae3a4f9c4939bc6c7d9188edc5c6.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="A ceramic coating will reduce the amount of scratches and swirl marks, but not prevent them entirely. It will not make your car bulletproof but it will make your paintwork more resistant through time and use. The defects you can see are most
likely caused"><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-15-0-1" data-pe-id="html_image54e0720a-435a-45ad-b33c-a4752b26a031"><div class="html_image54e0720a-435a-45ad-b33c-a4752b26a031" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-15-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_75e08c2d2c0640a6859751de5447f274.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Waterspots are defects caused by water (drops) that dried-up on the surface of your paintwork - the marks are created by the mineral present in the water itself. When fresh watermarks appear on your coated vehicle, the coating will absorb the mark first.."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-16-0-1" data-pe-id="html_image24516f54-7788-4a73-8ec7-feaa86239f9c"><div class="html_image24516f54-7788-4a73-8ec7-feaa86239f9c" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-16-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_69e668d85b0b4cd0acdc4e1d6e16a05c.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Download the Gyeon coating maintenance guide PDF file here"><!--/--><!--#--><a data-hk="0-0-1-2-0-7-1-16-0-3-0" style="position:absolute;color:unset;text-decoration:unset;width:100%;height:100%;display:block" href="https://cdn.shopify.com/s/files/1/0013/8903/5555/files/GYEON_Maintenance_Guide.pdf?v=1666388466"></a><!--/--></div></div></div></div><div data-hk="0-0-1-2-0-7-2"></div><!--/--></div><!--/--></div><script>var e,t;e=window._$HY||(_$HY={events:[],completed:new WeakSet,r:{}}),t=e=>e&&e.hasAttribute&&(e.hasAttribute("data-hk")?e:t(e.host&&e.host instanceof Node?e.host:e.parentNode)),["click","input"].forEach((o=>document.addEventListener(o,(o=>{let s=o.composedPath&&o.composedPath()[0]||o.target,a=t(s);a&&!e.completed.has(a)&&e.events.push([a,o])})))),e.init=(t,o)=>{e.r[t]=[new Promise(((e,t)=>o=e)),o]},e.set=(t,o,s)=>{(s=e.r[t])&&s[1](o),e.r[t]=[o]},e.unset=t=>{delete e.r[t]},e.load=t=>e.r[t];</script><!--xs-->
			</div>
			<script type="module">
				import { PE } from "https://page-builder.automizely.com/editorv2/client-0.2.8/client.js";
					PE.initCollect()
					PE.BlockManager.renderPage({"static":{"page":{"type":"html_page","idx":"page","data":{"value":{"styleVar":{"--pb--bg-color":"#fff","--pb--font-family":"Open Sans","--pb--heading-color":"#232933","--pb--description-color":"#232933","--pb--button-color":"#FFFFFF","--pb--button-background":"#232933"},"body":{"fontFamily":"Abril Fatface"},"business_settings":{"forms":[],"product_assignment":{"type":"","products":null},"blog_assignment":{"blog":{"id":"","organization":{"id":""},"app":{"platform":"","name":"","key":"","options":{"domain":""}},"external_id":"","title":"","handle":"","meta":{"title":"","description":""},"commentable":"","template":"","tags":null,"metrics":{"created_at":"","updated_at":""},"created_at":"","updated_at":""}},"collection_assignment":{"type":"","collections":null},"tags":null}}},"children":["header0","pb_power_bya8f94dc8-af48-4a97-975e-a46f0b43e05f","html_section455d31a2-703c-454c-aa93-222b73f8a82d","footer0","pb_blog_tag"]},"header0":{"type":"pb_header","idx":"header0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"footer0":{"type":"pb_footer","idx":"footer0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"pb_power_bya8f94dc8-af48-4a97-975e-a46f0b43e05f":{"type":"pb_power_by","data":{"value":{"isShow":false}},"styles":{},"idx":"pb_power_bya8f94dc8-af48-4a97-975e-a46f0b43e05f","children":[]},"html_section455d31a2-703c-454c-aa93-222b73f8a82d":{"type":"html_section","data":{"value":{}},"styles":{"background-color":"#ffffff","background-image":"","opacity":1,"image-width":"full-bleed","row-align":"start","height":"small"},"children":["html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49","html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041","html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d","html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859","html_imagef8fa93fe-5139-465e-b538-0f578255052f","html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d","html_image19199680-2bab-4609-bf88-fb67562d2d26","html_image48f466f4-704a-4ca7-acb6-755770bf70fb","html_image3601e2f1-ef8c-4caf-85a0-6d6c39219d87","html_image480eda7a-ff18-4e42-bbe6-9e8dc03e7faa","html_imageb0f9bd06-d78d-41f4-a7de-cd93db27a658","html_image8e84e71a-df80-4ada-bdaf-6745a1245197","html_imagef2241c07-e118-400e-86a3-9507f7b5b0c9","html_image8d475fee-e6de-43b0-82aa-c83463378854","html_imagef11f3202-079d-47d9-9882-4464705dd0b4","html_image54e0720a-435a-45ad-b33c-a4752b26a031","html_image24516f54-7788-4a73-8ec7-feaa86239f9c"],"idx":"html_section455d31a2-703c-454c-aa93-222b73f8a82d"},"html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_9d43b7ff02a64d25a0edbfbec66c51fd.jpeg","href":"","alt":"Gyeon ceramic coating after care maintenance guide"}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49","children":[]},"html_image24516f54-7788-4a73-8ec7-feaa86239f9c":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_69e668d85b0b4cd0acdc4e1d6e16a05c.jpeg","href":"https://cdn.shopify.com/s/files/1/0013/8903/5555/files/GYEON_Maintenance_Guide.pdf?v=1666388466","alt":"Download the Gyeon coating maintenance guide PDF file here"}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image24516f54-7788-4a73-8ec7-feaa86239f9c","children":[]},"html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_cecb007c3b614046bc96dca0631e1169.jpeg","href":"","alt":"WARRANTY\nMAINTENANCE\nRULES\n01 using harsh chemicals within the first\n14 days from coating application.\nDO NOT WASH YOUR CAR\nlike bird droppings, remain on any surface.\nRemove safely as soon as possible.\nDO NOT LET CONTAMINANTS,\ncaustic chemicals and any o"}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041","children":[]},"html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_a764685bca484f2c9397c8f1fb0a2727.jpeg","href":"","alt":"PRE WASH Make sure your vehicle is fully cooled down before starting any wash procedure. We recommend the use of Q2M Bug&Grime on all surfaces where bug splatter or heavy/oily road films can be found. If you have access to a foam lance, fill it with..."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d","children":[]},"html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_485a968014c54a8698621d5494e6257f.jpeg","href":"","alt":"How does it work and which coating is the best? Quartz, ceramic, glass, self-healing, titanium or graphene? They all refer to the same type of product, are terms to name a sio2 silicone dioxide-based protective coating, that prevents paint oxidation."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859","children":[]},"html_imagef8fa93fe-5139-465e-b538-0f578255052f":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_1dd09f22a0db417ea3d4d6d33d53805e.jpeg","href":"","alt":"Make sure your wheels and brakes are fully cooled down before starting any wash procedure. Pressure wash the wheel and wheel-arches first to remove a maximum of debris. Spray heavily Q2M Iron WheelCleaner on the entire wheel and let it sit for 3 to 4 min."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagef8fa93fe-5139-465e-b538-0f578255052f","children":[]},"html_image19199680-2bab-4609-bf88-fb67562d2d26":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_0b90695ff7f04565bd841fa1cd630d0e.jpeg","href":"","alt":"WASH & DECONTA 03Use the 2 bucket method. Fill both buckets with 10L of water and pour 15ML of Q2M RestartWash in one of them. MINATION Start washing your vehicle from top to bottom in straight line motion. Use either the Q2M Smoothie or Q2M WashPad. "}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image19199680-2bab-4609-bf88-fb67562d2d26","children":[]},"html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_28b3ee162a584254b515ca6150e3921a.jpeg","href":"","alt":"Gyeon mohs evo: what are the benefits of having a ceramic coating? it's not all about the looks! A well prepared and ceramic coated car looks amazing, as gyeon coatings are very glossy and enhance the intensity of the paint."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d","children":[]},"html_image48f466f4-704a-4ca7-acb6-755770bf70fb":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_5fe6d6cfa5324d32b7e5a95949a470be.jpeg","href":"","alt":"To boost hydrophobicity and gloss during your wash routine you can exchange Q2M Bathe with Q2M Bathe+, a SiO 2 based, hydrophobic shampoo. For even more performance, use Q2M WetCoat, our instant gloss & hydrophobic booster. Spray 2-3 times per panel and.."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image48f466f4-704a-4ca7-acb6-755770bf70fb","children":[]},"html_image3601e2f1-ef8c-4caf-85a0-6d6c39219d87":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_e2f4f4dd95b34ac18afe8697bc9127cf.jpeg","href":"","alt":"DRYING Use a Q2M SilkDryer or Q2M WaffleDryer, dry your vehicle paintwork from top to bottom in a straight motion. Do not apply pressure while drying on your paintwork. Use separate dedicated drying towels for your paintwork, wheels & lower parts to dry.."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image3601e2f1-ef8c-4caf-85a0-6d6c39219d87","children":[]},"html_image480eda7a-ff18-4e42-bbe6-9e8dc03e7faa":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_74fb0b5207964d798ca15eb503d17592.jpeg","href":"","alt":"Will a coating always bead as day one? and what is the durability of a coating? Beading is a secondary feature of a coating. A coating might be even more self-cleaning being hydrophilic than hydrophobic. It will diminish with time with contamination."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image480eda7a-ff18-4e42-bbe6-9e8dc03e7faa","children":[]},"html_imageb0f9bd06-d78d-41f4-a7de-cd93db27a658":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_b4ce1b3d9dfa47cf8aeb29502b123046.jpeg","href":"","alt":"Organic contamination and tar residue can be found on any type of vehicle due to their usage. To remove safely this type of contamination you can use Q2M Tar. Spray Q2M Tar liberally on a clean and damp vehicle. Use it locally on contaminated area.."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imageb0f9bd06-d78d-41f4-a7de-cd93db27a658","children":[]},"html_image8e84e71a-df80-4ada-bdaf-6745a1245197":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_c359d2dcb5044e128d254756a8d91c54.jpeg","href":"","alt":"Q2M Iron is the safest and most effective way to remove ferrous deposits from your car. Spray all over the vehicle, let it react for 3 to 5 minutes but don’t let it dry. Rinse heavily & inspect. Re-apply if needed. If you still notice rusty particles on.."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image8e84e71a-df80-4ada-bdaf-6745a1245197","children":[]},"html_imagef2241c07-e118-400e-86a3-9507f7b5b0c9":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_3fe3724c40db43e49c00e8cfb7c6fd49.jpeg","href":"","alt":"If your vehicle suffers from contamination that cannot be removed by your wash routine or after chemical decontamination (with Q2M Tar & Q2M Iron) we advise you to contact your GYEON Certified Detailer to inspect your vehicle and propose you an adequate.."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagef2241c07-e118-400e-86a3-9507f7b5b0c9","children":[]},"html_image8d475fee-e6de-43b0-82aa-c83463378854":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_2397a105aeee428299a74432b10c1682.jpeg","href":"","alt":"Hydrophobic properties will diminish with time due to potential contamination of the coating itself. To restore them, chemical decontamination will potentially be the most effective action. We recommend to use Q2M RestartWash, Q2M Iron and Q2M Tar for..."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image8d475fee-e6de-43b0-82aa-c83463378854","children":[]},"html_imagef11f3202-079d-47d9-9882-4464705dd0b4":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_23c0ae3a4f9c4939bc6c7d9188edc5c6.jpeg","href":"","alt":"A ceramic coating will reduce the amount of scratches and swirl marks, but not prevent them entirely. It will not make your car bulletproof but it will make your paintwork more resistant through time and use. The defects you can see are most\nlikely caused"}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagef11f3202-079d-47d9-9882-4464705dd0b4","children":[]},"html_image54e0720a-435a-45ad-b33c-a4752b26a031":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_75e08c2d2c0640a6859751de5447f274.jpeg","href":"","alt":"Waterspots are defects caused by water (drops) that dried-up on the surface of your paintwork - the marks are created by the mineral present in the water itself. When fresh watermarks appear on your coated vehicle, the coating will absorb the mark first.."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image54e0720a-435a-45ad-b33c-a4752b26a031","children":[]}},"mutation":{"mobile":{}},"page":{"type":"regular-page","connectionId":"53343136fefe4e44a6489054b2cecdc2","env":"production"}}, 'production', document.getElementById('pb-root'));
					PE.renderStickyAddToCartBar();
			</script>





		