
			<script>
				window.PB_PUBLIC_VARIABLE =
				{
					
				}
				;
				window.PB_builder= {
					id:"a56378eae8ab4887977286a68472a285",
					type:"regular-page",
					env:"production",
				}
			</script>
			<div id="pb-root">
			<style>
				*{
					font-family: Open Sans;
				}
			</style>
			<link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open Sans:400,500,600,700"/>
			<div data-hk="0-0-0" class="pe-page " data-pe-id="page" style="background:#fff;display:flex;flex-direction:column;align-items:center;position:relative;width:100%;min-height:100%;--pb--bg-color:#fff;--pb--font-family:Open Sans;--pb--heading-color:#232933;--pb--description-color:#232933;--pb--button-color:#FFFFFF;--pb--button-background:#232933"><style>.pe_rich_text_h1,
.pe_rich_text_h2,
.pe_rich_text_h3,
.pe_rich_text_h4,
.pe_rich_text_p1,
.pe_rich_text_p2,
.pe_rich_text_p3,
.pe_rich_text_p4 {
  margin: 0;
  font-weight: normal;
  padding: 0;
}

.pe_rich_text_h1 {
  font-size: 48px;
  line-height: 56px;
}

.pe_rich_text_h2 {
  font-size: 28px;
  line-height: 36px;
}

.pe_rich_text_h3 {
  font-size: 24px;
  line-height: 32px;
}

.pe_rich_text_h4 {
  font-size: 20px;
  line-height: 28px;
}

.pe_rich_text_p1 {
  font-size: 16px;
  line-height: 28px;
}

.pe_rich_text_p2 {
  font-size: 14px;
  line-height: 24px;
}

.pe_rich_text_p3 {
  font-size: 12px;
  line-height: 20px;
}

.pe_rich_text_h1,
.pe_rich_text_h2,
.pe_rich_text_h3,
.pe_rich_text_h4 {
  color: var(--pb--heading-color);
}

.pe_rich_text_p1,
.pe_rich_text_p2,
.pe_rich_text_p3 {
  color: var(--pb--description-color);
}

.MOBILE-preview .pe_rich_text_h1 {
  font-size: 32px;
  line-height: 40px;
}

@media only screen and (max-width: 750px) {
  .pe_rich_text_h1 {
    font-size: 32px;
    line-height: 40px;
  }
}</style><style>
        .pe-page-content{
          max-width: 1248px
        }
      </style><!--#--><div data-hk="0-0-1-1-0-0" class="pb_power_by_wrapper" data-isshowineditor="false" data-isshowinproduct="false"><style>.pb_power_by_wrapper {
  width: 100%;
  position: relative;
  font-family: SF Pro Text, system-ui;
}

.pb_power_by_production {
  position: absolute;
  right: 0;
  top: 0;
}

.pb_power_by_container {
  display: flex;
  z-index: 9;
  padding: 8px 0;
  margin: 0 auto;
  justify-content: flex-end;
  transform: scale(0.9);
}
.pb_power_by_container .pb_wrapper {
  font-weight: 600;
  font-size: 8px;
  white-space: nowrap;
  line-height: 16px;
}
.pb_power_by_container .pb_link {
  padding: 4px 16px;
  background: rgba(0, 0, 0, 0.14);
  border-radius: 14px;
  text-decoration: none;
  color: #ffffff;
}
.pb_power_by_container .pb_link:hover {
  background: rgba(0, 0, 0, 0.4);
}

@media screen and (max-width: 749px) {
  .pb_power_by_container {
    justify-content: center;
  }
}
.MOBILE-preview .pb_power_by_container {
  justify-content: center;
}</style><!--#--><!--/--><!--#--><!--/--></div><style data-hk="0-0-1-2-0-3">
        @media only screen and (min-width: 1248px) {
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed img, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset img, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset .overlay{
            object-fit: cover;
            height: 100%;
            width: 1200px;
          }
        }
        @media only screen and (max-width: 1248px) {
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed{
            width: 100%;
            height: 100%;
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed img, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .full-bleed .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset{
            margin: 36px 24px;
            width: calc(100% - 48px);
            height: calc(100% - 72px);
          }
          .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset img, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .inset .overlay{
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
      </style><style data-hk="0-0-1-2-0-4">
    .html_section455d31a2-703c-454c-aa93-222b73f8a82d, .html_section455d31a2-703c-454c-aa93-222b73f8a82d .html_row{
      align-items: start
    }
    </style><style data-hk="0-0-1-2-0-5"></style><div data-hk="0-0-1-2-0-6" class="html_section455d31a2-703c-454c-aa93-222b73f8a82d " data-pe-id="html_section455d31a2-703c-454c-aa93-222b73f8a82d" style="width:100%;min-height:50px;background-color:#ffffff;z-index:1;max-width:none;display:flex;justify-content:center;position:relative"><!--#--><!--/--><!--#--><div data-hk="0-0-1-2-0-7-0" style="display:grid;position:relative;box-sizing:border-box;width:100%;padding:24px 24px 48px 24px;justify-items:center" class="pe-page-content"><div style="display:grid;width:100%;gap:24px"><div data-hk="0-0-1-2-0-7-1-0-0-1" data-pe-id="html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49"><div class="html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-0-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_05c5b3e83b2f45d4b327192e79aa38a0.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block"><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-1-0-1" data-pe-id="html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041"><div class="html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-1-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_4bb8fe859c344405a2f962d3e5131ea6.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Simple guide to ceramic coatings: this is the most clear cut, straight forward ceramic coating warranty system you will ever experience.  What is a ceramic coating? It's a solid, transparent, slick and highly self-cleaning hydrophobic silica layer."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-2-0-1" data-pe-id="html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d"><div class="html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-2-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_a9bb2f7ea9a54ec4b697b1b512ee40cf.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Gyeon mohs evo: what are the benefits of having a ceramic coating? it's not all about the looks! A well prepared and ceramic coated car looks amazing, as gyeon coatings are very glossy and enhance the intensity of the paint."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-3-0-1" data-pe-id="html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859"><div class="html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-3-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_9c26ba02b8b84a73a095498f22f37734.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="How does it work and which coating is the best? Quartz, ceramic, glass, self-healing, titanium or graphene? They all refer to the same type of product, are terms to name a sio2 silicone dioxide-based protective coating, that prevents paint oxidation."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-4-0-1" data-pe-id="html_imagef8fa93fe-5139-465e-b538-0f578255052f"><div class="html_imagef8fa93fe-5139-465e-b538-0f578255052f" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-4-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_88f90f21fd3e4190a55da5ba2df16aa2.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Ceramic Maintenance is key by using a ceramic detailer, Cure, of sorts. All Gyeon Q2 line coatings show higher scratch resistance vs a non-coated panel due to their hardness and slickness. There are coatings for leather, fabric, trim, plastics, windows."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-5-0-1" data-pe-id="html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d"><div class="html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-5-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_6ca7885191f2421bbd64c4a2dea166a7.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Do gyeon coatings have 9H hardness? Yes, just like every high-quality ceramic coatings. The important qualities of a ceramic coating are its enormous UV and chemical resistance, structural integrity and most of all, slickness and dirt rejection."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-6-0-1" data-pe-id="html_image19199680-2bab-4609-bf88-fb67562d2d26"><div class="html_image19199680-2bab-4609-bf88-fb67562d2d26" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-6-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_8d4d795520be4fdba900f32edf73438b.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Will a coating always bead as day one? and what is the durability of a coating? Beading is a secondary feature of a coating. A coating might be even more self-cleaning being hydrophilic than hydrophobic. It will diminish with time with contamination."><!--/--><!--#--><!--/--></div></div><div data-hk="0-0-1-2-0-7-1-7-0-1" data-pe-id="html_image24516f54-7788-4a73-8ec7-feaa86239f9c"><div class="html_image24516f54-7788-4a73-8ec7-feaa86239f9c" style="background:undefined;display:flex;align-items:center;justify-content:center;position:relative"><!--#--><img data-hk="0-0-1-2-0-7-1-7-0-0" src="https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_c43f62f36af14a8c913818b9c4241769.jpeg" style="width:100%;height:auto;max-width:100%;display:inline-block" alt="Download the Gyeon coating after care PDF file here"><!--/--><!--#--><a data-hk="0-0-1-2-0-7-1-7-0-3-0" style="position:absolute;color:unset;text-decoration:unset;width:100%;height:100%;display:block" href="https://cdn.shopify.com/s/files/1/0013/8903/5555/files/GYEON_Wisdom_Booklet.pdf?v=1666384101"></a><!--/--></div></div></div></div><div data-hk="0-0-1-2-0-7-2"></div><!--/--></div><!--/--></div><script>var e,t;e=window._$HY||(_$HY={events:[],completed:new WeakSet,r:{}}),t=e=>e&&e.hasAttribute&&(e.hasAttribute("data-hk")?e:t(e.host&&e.host instanceof Node?e.host:e.parentNode)),["click","input"].forEach((o=>document.addEventListener(o,(o=>{let s=o.composedPath&&o.composedPath()[0]||o.target,a=t(s);a&&!e.completed.has(a)&&e.events.push([a,o])})))),e.init=(t,o)=>{e.r[t]=[new Promise(((e,t)=>o=e)),o]},e.set=(t,o,s)=>{(s=e.r[t])&&s[1](o),e.r[t]=[o]},e.unset=t=>{delete e.r[t]},e.load=t=>e.r[t];</script><!--xs-->
			</div>
			<script type="module">
				import { PE } from "https://page-builder.automizely.com/editorv2/client-0.2.8/client.js";
					PE.initCollect()
					PE.BlockManager.renderPage({"static":{"page":{"type":"html_page","idx":"page","data":{"value":{"styleVar":{"--pb--bg-color":"#fff","--pb--font-family":"Open Sans","--pb--heading-color":"#232933","--pb--description-color":"#232933","--pb--button-color":"#FFFFFF","--pb--button-background":"#232933"},"body":{"fontFamily":"Abril Fatface"},"business_settings":{"forms":[],"product_assignment":{"type":"","products":null},"blog_assignment":{"blog":{"id":"","organization":{"id":""},"app":{"platform":"","name":"","key":"","options":{"domain":""}},"external_id":"","title":"","handle":"","meta":{"title":"","description":""},"commentable":"","template":"","tags":null,"metrics":{"created_at":"","updated_at":""},"created_at":"","updated_at":""}},"collection_assignment":{"type":"","collections":null},"tags":null}}},"children":["header0","pb_power_bya8f94dc8-af48-4a97-975e-a46f0b43e05f","html_section455d31a2-703c-454c-aa93-222b73f8a82d","footer0","pb_blog_tag"]},"header0":{"type":"pb_header","idx":"header0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"footer0":{"type":"pb_footer","idx":"footer0","data":{"value":{},"layout":[]},"styles":{"background-color":"#fff"},"children":[]},"pb_power_bya8f94dc8-af48-4a97-975e-a46f0b43e05f":{"type":"pb_power_by","data":{"value":{"isShow":false}},"styles":{},"idx":"pb_power_bya8f94dc8-af48-4a97-975e-a46f0b43e05f","children":[]},"html_section455d31a2-703c-454c-aa93-222b73f8a82d":{"type":"html_section","data":{"value":{}},"styles":{"background-color":"#ffffff","background-image":"","opacity":1,"image-width":"full-bleed","row-align":"start","height":"small"},"children":["html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49","html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041","html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d","html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859","html_imagef8fa93fe-5139-465e-b538-0f578255052f","html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d","html_image19199680-2bab-4609-bf88-fb67562d2d26","html_image24516f54-7788-4a73-8ec7-feaa86239f9c"],"idx":"html_section455d31a2-703c-454c-aa93-222b73f8a82d"},"html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_05c5b3e83b2f45d4b327192e79aa38a0.jpeg","href":""}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image95f28919-b9b6-4c4f-bfe3-203b1bcbec49","children":[]},"html_image24516f54-7788-4a73-8ec7-feaa86239f9c":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_c43f62f36af14a8c913818b9c4241769.jpeg","href":"https://cdn.shopify.com/s/files/1/0013/8903/5555/files/GYEON_Wisdom_Booklet.pdf?v=1666384101","alt":"Download the Gyeon coating after care PDF file here"}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image24516f54-7788-4a73-8ec7-feaa86239f9c","children":[]},"html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_4bb8fe859c344405a2f962d3e5131ea6.jpeg","href":"","alt":"Simple guide to ceramic coatings: this is the most clear cut, straight forward ceramic coating warranty system you will ever experience.  What is a ceramic coating? It's a solid, transparent, slick and highly self-cleaning hydrophobic silica layer."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagefc6138e9-b77c-456d-aab7-a1a37a40b041","children":[]},"html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_6ca7885191f2421bbd64c4a2dea166a7.jpeg","href":"","alt":"Do gyeon coatings have 9H hardness? Yes, just like every high-quality ceramic coatings. The important qualities of a ceramic coating are its enormous UV and chemical resistance, structural integrity and most of all, slickness and dirt rejection."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image3e9e4bcc-91bf-492e-ba97-a12c5331815d","children":[]},"html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_9c26ba02b8b84a73a095498f22f37734.jpeg","href":"","alt":"How does it work and which coating is the best? Quartz, ceramic, glass, self-healing, titanium or graphene? They all refer to the same type of product, are terms to name a sio2 silicone dioxide-based protective coating, that prevents paint oxidation."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagedb727b9b-9d0b-4d53-bea8-8e815ef8f859","children":[]},"html_imagef8fa93fe-5139-465e-b538-0f578255052f":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_88f90f21fd3e4190a55da5ba2df16aa2.jpeg","href":"","alt":"Ceramic Maintenance is key by using a ceramic detailer, Cure, of sorts. All Gyeon Q2 line coatings show higher scratch resistance vs a non-coated panel due to their hardness and slickness. There are coatings for leather, fabric, trim, plastics, windows."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagef8fa93fe-5139-465e-b538-0f578255052f","children":[]},"html_image19199680-2bab-4609-bf88-fb67562d2d26":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_8d4d795520be4fdba900f32edf73438b.jpeg","href":"","alt":"Will a coating always bead as day one? and what is the durability of a coating? Beading is a secondary feature of a coating. A coating might be even more self-cleaning being hydrophilic than hydrophobic. It will diminish with time with contamination."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_image19199680-2bab-4609-bf88-fb67562d2d26","children":[]},"html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d":{"type":"html_image","data":{"value":{"url":"https://pages.am-usercontent.com/images/c72a4a1d48c3499c054ed831d99f0193c6dada9a/image_upload_a9bb2f7ea9a54ec4b697b1b512ee40cf.jpeg","href":"","alt":"Gyeon mohs evo: what are the benefits of having a ceramic coating? it's not all about the looks! A well prepared and ceramic coated car looks amazing, as gyeon coatings are very glossy and enhance the intensity of the paint."}},"styles":{"width":"100%","align":"center","height":"auto"},"idx":"html_imagebaa6d309-8853-497c-aa4c-ba4cbad9c55d","children":[]}},"mutation":{"mobile":{}},"page":{"type":"regular-page","connectionId":"53343136fefe4e44a6489054b2cecdc2","env":"production"}}, 'production', document.getElementById('pb-root'));
					PE.renderStickyAddToCartBar();
			</script>





		