<div class="carousel slide carousel-fade hidden-xs" id="featured">
     
     <!--Indicators-->
     <ol class="carousel-indicators">
       <li data-target="#featured" data-slide-to="0" class="active indicator"></li>
       <li data-target="#featured" data-slide-to="1" class="indicator"></li>
       <li data-target="#featured" data-slide-to="2" class="indicator"></li>
     </ol>
     
     <div class="carousel-inner">
        <div class="item active">
          <img class="carousel-image" src="https://res.cloudinary.com/epiphanystudios/image/upload/v1474325161/Billboard_-_AnalyticsBanner_s0vsiv.jpg" alt="banner 1">
          <div class="carousel-caption animated fadeInUp" id="caption1-text">
            <span>This is the first caption</span>
          </div>
          <div class="carousel-caption animated fadeInUp" id="caption1-button">
            <a class="btn btn-default text-center btn-teo-caption">Get a Quote</a>
          </div>
        </div>
        <div class="item">
          <img class="carousel-image" src="https://res.cloudinary.com/epiphanystudios/image/upload/v1474389520/Billboard_-_HipsterBanner_rzyv5r.jpg" alt="banner 2">
          <div class="carousel-caption animated fadeInUp">
            <span>This is the second caption</span>
          </div>
          <div class="carousel-caption animated fadeInUp" id="caption1-button">
            <a class="btn btn-default text-center btn-teo-caption">Chat With Us</a>
          </div>
        </div>
        <div class="item">
          <img class="carousel-image" src="https://res.cloudinary.com/epiphanystudios/image/upload/v1474389522/Billboard_-_ProductsBanner_kfucs3.jpg" alt="banner 3">
          <div class="carousel-caption animated fadeInUp">
            <span>This is the third caption</span>
          </div>
          <div class="carousel-caption animated fadeInUp" id="caption1-button">
            <a class="btn btn-default text-center btn-teo-caption">Learn More</a>
          </div>
        </div>
     </div><!--carousel inner-->
     
     <!--Previous Button-->
     <a class="left carousel-control" href="#featured" role="button" data-slide="prev">
       <span class="glyphicon glyphicon-chevron-left"></span>
     </a>
     <!--Next Button-->
     <a class="right carousel-control" href="#featured" role="button" data-slide="next">
       <span class="glyphicon glyphicon-chevron-right"></span>
     </a>
    </div><!--carousel-->



{% schema %}
  {
  "name": "Carousel",
  "class": "tm_landing",
  "settings": [
    {
      "type": "image_picker",
      "id": "tm_landing_image",
      "label": "Banner Image"
    },
    {
      "type": "text",
      "id": "tm_landing_title",
      "label": "Title"
    },
    {
      "type": "text",
      "id": "tm_landing_subtitle",
      "label": "Subtitle"
    }
  ],
  "presets": [
    {
      "name": "Carousel",
      "category": "banners"
    }
  ]
}
{% endschema %}

{% stylesheet %}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

{% endstylesheet %}

{% javascript %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
{% endjavascript %}
