<div id="content" class="col-md-12 center-column content-with-background" style="background-color: #FFF;">
  <div class="row">
    <div class="col-sm-12">
      <header>
        <h1 class="c-title t-xxl">{{ page.title }}</h1>
      </header>

      <div class="c-styled-elements">
        {{page.content}}
      </div>
    </div>
  </div>
</div
