
{%- section "product-template" -%}
{% render 'product_infox' %}
<div data-rebuy-id="20201" data-rebuy-shopify-product-ids="{{ product.id }}"></div>

<div data-rebuy-id="20887" data-rebuy-shopify-product-ids="{{ product.id }}"></div>